body {
    margin : 0; /* top, bottom, left, and right margins are zero; no need to specify the unit if zero*/
}

h1 {
    margin-top: 0; /* top, bottom, left, and right margin are zero; no need to specify the unit if zero*/
}

div {

}

.top-container {
    background-color: #e4f9f5; /* Find colors in: https://colorhunt.co/ */
}

.middle-container {
}

.bottom-container {
}

